// навигация - контейнер
.nav {
  display: flex;

  &__list {
    display: flex;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 32px 0;
    font-weight: $font-weight-medium;
  }
}

.nav__link--active {
  display: flex;
  position: relative;
  flex-direction: column;
  color: $accent-color;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: $accent-color;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}
